#content{
    background-color: #2d2f3b;
    width: 1000px;
    display: flex;
    align-self: center;
    margin: 0 auto;
    flex-direction: column;
    
}
#buttonContent{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
#imgContent{
    background-color: white;
    display: flex;
    justify-content: space-between;
}
#bright {
    background-image: url('img/brillo.png');
    background-size: 35px 35px; 
    background-repeat: no-repeat; 
    padding: 30px 40px; 
    border: none;
    background-position: center;
    border-radius: 200px;
    cursor: pointer; 
    background-color: #fffd85; 

  }
  #bar_bright {
    -webkit-appearance: none;  
    appearance: none;
    width: 20%;
    height: 25px; 
    background: #525252; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  

  #bar_bright:hover {
    opacity: 1;
  }
  
  #bar_bright::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px; 
    background: #fffd85; 
    cursor: pointer;
  }
  
  #bar_bright::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #fffd85;
    cursor: pointer;
  }


  #bar_temp {
    -webkit-appearance: none;  
    appearance: none;
    width: 20%;
    height: 25px; 
    background: #525252; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  

  #bar_temp:hover {
    opacity: 1;
  }
  
  #bar_temp::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px; 
    background: #8d4f8d; 
    cursor: pointer;
  }
  
  #bar_temp::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #8d4f8d;
    cursor: pointer;
  }

  #black_white {
    background-image: url('img/blancoNegro.png');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    padding: 30px 40px; 
    border: none;
    border-radius: 200px;
    background-position: center;
    cursor: pointer; 
    background-color: #f1f1f1; 

  }
  #negative {
    background-image: url('img/negativo.png');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    padding: 30px 40px; 
    border: none;
    border-radius: 200px;
    cursor: pointer; 
    background-position: center;
    background-color: #ffbebe; 

  }
  #mirror{
    background-image: url('img/espejo.png');
    background-size: 35px 35px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 40px; 
    border: none;
    border-radius: 200px;
    cursor: pointer; 
    background-color: #a7cddf; 

  }
  #del{
    background-image: url('img/basura.png');
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 40px; 
    border: none;
    border-radius: 200px;
    cursor: pointer; 
    background-color: #acf7b0; 

  }
  #save{
    background-image: url('img/guardar.png');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    padding: 30px 40px; 
    background-position: center;
    border: none;
    border-radius: 200px;
    cursor: pointer; 
    background-color: #dfa7dc; 

  }
  #sepia{
    background-image: url('img/sepia.png');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    padding: 30px 40px; 
    background-position: center;
    border: none;
    border-radius: 200px;
    cursor: pointer; 
    background-color: #ffc38a; 

  }
  #temperature{
    background-image: url('img/temperature.png');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    padding: 30px 40px; 
    background-position: center;
    border: none;
    border-radius: 200px;
    cursor: pointer; 
    background-color: #8d4f8d; 
  }
